Source: rocket-depot
Section: net
Priority: optional
Maintainer: David Roble <robled@electronsweatshop.com>
Build-Depends: debhelper (>= 9), python-all, dh-python, python-setuptools
Standards-Version: 3.9.6
XS-Python-Version: 2.7
Homepage: https://github.com/robled/rocket-depot
Vcs-Git: https://github.com/robled/rocket-depot.git
Vcs-Browser: https://github.com/robled/rocket-depot

Package: rocket-depot
Architecture: all
Depends: gir1.2-gtk-3.0, rdesktop, freerdp-x11, libfreerdp-plugins-standard, xterm, ${misc:Depends}, ${python:Depends}
Description: GTK+ 3 rdesktop/xfreerdp frontend
 Rocket Depot is a simple graphical frontend for rdesktop and FreeRDP with
 support for connection profiles. It runs on Linux desktops using GTK and takes
 advantage of modern desktop environment features such as Unity Quicklists.
