[Desktop Entry]
Name=Rocket Depot
Comment=Remote Desktop Launcher
Categories=GNOME;GTK;Network;
Exec=rocket-depot
Icon=rocket-depot
StartupWMClass=rocket-depot
Terminal=false
Type=Application
