[Desktop Entry]
Type=Application
Name=rocket-depot
Categories=Network;Application;
Icon=gnome-fs-web
Exec=/path/to/rocket-depot.py
StartupWMClass=rocket-depot
