[Desktop Entry]
Type=Application
Name=rocket-depot
Categories=Network;Application;
Icon=/path/to/rocket-depot.svg
Exec=/path/to/rocket-depot.py
StartupWMClass=rocket-depot
