[Desktop Entry]
Type=Application
Name=rdesktop-opener
Categories=Network;Application;
Icon=gnome-fs-web
Exec=/path/to/rdesktop-opener.py
StartupWMClass=rdesktop-opener
